<div class="row py-3">
  <div class="col-md-3">
      <em>{{ theBook.name }}</em>
  </div>
  <div class="col-md-2">
      &euro; {{ theBook.price }}
  </div>
  <div class="col-md-2">
      <span
        class="text-muted"
        [ngClass]="{'aFewLeft':theBook.qty < '5', 'aFewLeft':theBook.qty_temp < '5'}"
        *ngIf="isLeft">
      <span *ngIf="reset">
        <span *ngIf="theBook.qty < '5'">Only </span>
        {{ theBook.qty }} available
      </span>
      <!-- qty temp: -->
      <span *ngIf="!reset">
          <span *ngIf="theBook.qty_temp < '5'">Only </span>
          {{ theBook.qty_temp }} available
      </span>
    </span>

    <span
    class="aFewLeft"
    *ngIf="!isLeft">
    No one left!
</span>
  </div>
  <div class="col-md-5">
      <div class="input-group">
        <input type="number" class="form-control" placeholder="qty..." [(ngModel)]="theBook.qty_chosen" name="">
        <span class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="addToCart(theBook)" [disabled]="isQtyValid()">
              Add to Cart
            </button>
        </span>
      </div>
  </div>
</div>
