<div class="row py-3">
  <div class="col-md-3">
      {{ theBook.name }}
  </div>
  <div class="col-md-3">
      &euro; {{ theBook.price }}
  </div>
  <div class="col-md-3">
      <span class="text-muted">{{ theBook.qty }} available</span>
  </div>
  <div class="col-md-3">
      <div class="input-group">
        <input type="number" class="form-control" placeholder="qty..." [(ngModel)]="theBook.qty_chosen" name="">
        <span class="btn btn-primary" type="button" (click)="addToCart(theBook)">Add to cart</span>
      </div>
  </div>
</div>
