<div class="container">

  <input type="text" name="" placeholder="Cerca..." class="form-control">

  <hr>
  <!-- <div *ngFor="let product of products">
    {{ product.name }}
  </div> -->
  <app-book *ngFor="let product of products" [theBook]="product"></app-book>

  <hr>
  <!-- spese di spedizione -->
  <div class="card card-body bg-light">
    <div class="radio">
      <label for=""><input type="radio" name="shipping"> DHL Express (&euro; 12.99)
      </label>
    </div>
    <div class="radio">
      <label for=""><input type="radio" name="shipping"> USPS Express (&euro; 32.99)
      </label>
    </div>
    <div class="radio">
      <label for=""><input type="radio" name="shipping"> Express Courier (&euro; 12.99)
      </label>
    </div>
  </div>

  <!-- totale -->
  <div class="text-right">
    <h2>Totale &euro; 0.00</h2>
  </div>
</div>